*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.body-container {
  zoom: 1;
  display: grid;
  grid-template-rows: [point-0] min-content [point-1] min-content [point-2] min-content [point-3] min-content [point-4] min-content [point-5];
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(2, [col-start] minmax(min-content, 35rem) [col-end]) [center-end] 6rem [sidebar-start] minmax(min-content, 50rem) [sidebar-end] minmax(6rem, 1fr) [full-end];
  position: relative;
  background-color: whitesmoke; }

@media only screen and (max-width: 800px) {
  .body-container {
    grid-template-columns: [full-start] minmax(1.5rem, 1fr) [center-start] repeat(2, [col-start] minmax(min-content, 35rem) [col-end]) [center-end] 6rem [sidebar-start] minmax(min-content, 50rem) [sidebar-end] minmax(1.5rem, 1fr) [full-end]; } }

.navbar {
  position: relative;
  height: 7rem;
  left: 0;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(3, [col-start] minmax(min-content, 40rem) [col-end]) [center-end] 6rem [sidebar-start] minmax(min-content, 40rem) [sidebar-end] minmax(6rem, 1fr) [full-end];
  z-index: 100000;
  user-select: none; }
  .navbar-flex {
    grid-column: center-start / sidebar-end;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navbar-logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 3rem;
    letter-spacing: 2px; }
  .navbar-main.active {
    display: initial; }
  .navbar-hamburger {
    display: none; }
  .navbar-ul {
    display: flex; }
  .navbar-li {
    position: relative;
    list-style: none;
    padding: 1rem; }
    .navbar-li:not(:last-child) {
      margin-right: 1.5rem; }
    .navbar-li-normal:hover {
      cursor: pointer;
      background-color: #eee;
      border-radius: 5px; }
    .navbar-li-normal:hover .navbar-a {
      border-bottom: 1px solid black; }
    .navbar-li-login {
      background-color: #5dbea3;
      border-radius: 25rem; }
      .navbar-li-login a {
        color: white !important; }
      .navbar-li-login:hover {
        background-color: #47a78b;
        cursor: pointer; }
  .navbar-a {
    position: relative;
    margin: 0 1.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 800;
    transition: .1s; }
  .navbar-sticky {
    background-color: rgba(250, 250, 250, 0.9);
    border-bottom: 1px solid #e3e3e3; }
    .navbar-sticky a {
      color: black;
      font-weight: 600; }
    .navbar-sticky .navbar-hamburger .line {
      background-color: black; }
  .navbar-black {
    color: black; }
  .navbar-border-black {
    background-color: rgba(250, 250, 250, 0.9);
    border-bottom: 1px solid #e3e3e3; }
  .navbar-visilibity {
    transform: translateY(-5rem); }

@media only screen and (max-width: 800px) {
  .navbar-flex {
    grid-column: full-start / full-end;
    padding: 0 1.5rem; } }

@media only screen and (max-width: 900px) {
  .navbar-hamburger {
    display: block;
    cursor: pointer; }
    .navbar-hamburger i {
      font-size: 2.2rem;
      border-radius: 3px;
      padding: 1rem; }
  .navbar-main {
    display: none;
    position: absolute;
    top: 7rem;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #eee;
    transition: 0.2s; }
  .navbar-ul {
    display: block;
    width: fit-content;
    margin: 4rem auto 4rem auto;
    text-align: center;
    transition: 0.5s; }
  .navbar-li {
    margin-bottom: 2rem; }
  .navbar-a {
    color: black;
    font-weight: 600; } }

@media only screen and (max-width: 600px) {
  .navbar-flex {
    grid-column: full-start / full-end;
    padding: 0 1rem; } }

.footer {
  background-color: #333;
  padding: 10rem 0rem;
  font-size: 1.4rem;
  user-select: none; }
  .footer-row {
    display: grid;
    grid-template-columns: 1fr repeat(2, [col-start] minmax(min-content, 100rem) [col-end]) 1fr; }
  .footer-col {
    text-align: center; }
    .footer-col-left {
      grid-column: col-start 1 / col-end 1; }
    .footer-col-right {
      grid-column: col-start 2 / col-end 2; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: inherit;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: white;
    font-weight: 700; }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    float: right;
    width: 80%;
    color: #f7f7f7; }

.navigation {
  grid-column: center-start / center-end;
  grid-row: point-0 / point-1;
  margin: 2rem 0; }
  .navigation a {
    font-size: 1.6rem;
    font-weight: 600;
    color: #2e8a96;
    text-decoration: none;
    padding-bottom: .5rem; }
    .navigation a:hover {
      border-bottom: 1px solid #2e8a96; }

.gallery {
  grid-column: center-start / center-end;
  grid-row: point-1 / point-2; }

.listing {
  margin-bottom: 5rem 0;
  position: relative;
  width: 100%;
  height: 50rem;
  border: 3px solid #D3D3D3;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; }
  .listing-picture {
    grid-column: picture-start / picture-end;
    grid-row: start-point / mid-point;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    cursor: pointer; }
    .listing-picture .slide {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      transition: all .4s;
      object-fit: cover; }
    .listing-picture .btn {
      display: block;
      position: absolute;
      z-index: 1;
      height: 100%;
      background-color: transparent;
      width: 30%;
      border: none;
      padding: 0 2rem;
      transition: all .2s;
      cursor: pointer; }
      .listing-picture .btn:hover {
        transform: scale(1.03); }
      .listing-picture .btn-prev {
        left: 0;
        text-align: left;
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 40%); }
      .listing-picture .btn-next {
        right: 0;
        text-align: right;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 40%); }
      .listing-picture .btn i {
        color: white;
        font-size: 10rem; }
  .listing-count {
    position: absolute;
    top: 1%;
    left: 1%;
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    padding: .5rem 1.5rem;
    z-index: 2;
    font-size: 1.4rem;
    border-radius: 5px;
    border: 1px solid black; }

@media only screen and (max-width: 1200px) {
  .gallery {
    grid-column: center-start / sidebar-end;
    grid-row: point-1 / point-2; }
  .listing {
    margin: 0; } }

@media only screen and (max-width: 800px) {
  .gallery {
    grid-column: full-start / full-end; }
  .listing {
    height: 40rem; } }

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  grid-row: point-1 / point-2;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  padding: 2rem 4rem; }
  .sidebar h3 {
    font-size: 2rem;
    font-family: 'Inter'; }
  .sidebar .price {
    font-size: 2rem;
    display: flex;
    font-weight: 500;
    text-transform: uppercase; }
  .sidebar .information {
    padding-top: 1rem;
    border-top: 1px solid #d3d3d3;
    display: flex;
    flex-direction: column; }
    .sidebar .information-group {
      font-family: 'Inter';
      display: flex;
      justify-content: space-between;
      font-size: 1.4rem; }
      .sidebar .information-group .category {
        color: grey; }
      .sidebar .information-group .type {
        font-weight: 500;
        color: black; }
  .sidebar .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem; }
  .sidebar .btn, .sidebar .btn:link, .sidebar .btn:visited {
    margin-top: 2rem;
    width: 100%;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 5px;
    transition: all .1s;
    position: relative;
    border: none;
    cursor: pointer; }
  .sidebar .btn--contact {
    color: white;
    background-color: #5dbea3; }
    .sidebar .btn--contact:hover {
      background-color: #43a388; }
  .sidebar .btn--share {
    color: black;
    background-color: white;
    border: 1px solid black; }
    .sidebar .btn--share:hover {
      background-color: #e8e8e8; }

@media only screen and (max-width: 1200px) {
  .sidebar {
    grid-column: center-start / sidebar-end;
    grid-row: point-2 / point-3;
    margin-top: 0;
    height: 45rem; }
    .sidebar h3 {
      font-size: 1.6rem; }
    .sidebar .price {
      font-size: 1.5rem; }
    .sidebar .btn, .sidebar .btn:link, .sidebar .btn:visited {
      padding: 1.5rem 2rem; } }

@media only screen and (max-width: 800px) {
  .sidebar {
    grid-column: full-start / full-end;
    padding: 1rem 2rem; } }

.description {
  margin-top: 5rem;
  grid-column: center-start / sidebar-end;
  grid-row: point-2 / point-3;
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 5rem; }
  .description .title {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Poppins';
    display: inline-block;
    border-bottom: 1px solid black; }
  .description .text {
    margin-top: 2rem;
    font-size: 1.6rem; }

@media only screen and (max-width: 1200px) {
  .description {
    margin-top: 5rem;
    grid-column: center-start / sidebar-end;
    grid-row: point-3 / point-4; } }

@media only screen and (max-width: 800px) {
  .description {
    grid-column: full-start / full-end; }
    .description .title {
      font-size: 1.6rem; }
    .description .text {
      font-size: 1.4rem; } }

.map {
  grid-column: center-start / sidebar-end;
  grid-row: point-4 / point-5;
  height: 40rem;
  width: 100%;
  margin-bottom: 5rem; }
  .map #map {
    height: 40rem;
    width: 100%; }

@media only screen and (max-width: 1200px) {
  .map {
    grid-column: full-start / full-end;
    grid-row: point-4 / point-5; } }

.popup {
  z-index: 999999999;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw; }
  .popup.active {
    display: flex; }
  .popup-box {
    color: white;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../../media/images/good-vibe.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    height: 22rem;
    border-radius: 5px;
    position: relative; }
    .popup-box--title {
      font-size: 2.2rem;
      font-weight: 600;
      text-align: center; }
    .popup-box--url {
      font-size: 1.6rem; }
    .popup-box--buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 4rem; }
      .popup-box--buttons .btn, .popup-box--buttons .btn:link, .popup-box--buttons .btn:visited {
        width: 100%;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 5px;
        transition: all .1s;
        position: relative;
        border: none;
        cursor: pointer; }
      .popup-box--buttons .btn--copy {
        color: white;
        font-size: 1.6rem;
        background-color: #00b1d3; }
        .popup-box--buttons .btn--copy:hover {
          background-color: #0095b3; }
      .popup-box--buttons .cancel {
        margin-top: 1rem;
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer; }
    .popup-box--close {
      font-size: 2rem;
      color: #e3e3e3;
      position: absolute;
      top: 1rem;
      right: 2rem;
      cursor: pointer; }

@media only screen and (max-width: 650px) {
  .popup-box {
    border-radius: 0;
    padding: 1rem;
    height: 20rem; }
    .popup-box--title {
      font-size: 1.6rem; }
    .popup-box--url {
      font-size: 1.2rem; }
    .popup-box--buttons {
      margin-top: 3rem; }
      .popup-box--buttons .btn, .popup-box--buttons .btn:link, .popup-box--buttons .btn:visited {
        padding: 1rem 3rem; }
      .popup-box--buttons .btn--copy {
        font-size: 1.2rem; }
      .popup-box--buttons .cancel {
        font-size: 1.2rem; }
    .popup-box--close {
      font-size: 2rem; } }
