{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/item-style.css' %}">

        <!-- bootstrap -->
        
        <!-- Montserrat | Poppins | Inter-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <!-- font-awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- leaflet -->	
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />	
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>	

        <title>RentOverflow &mdash; your home, your freedom</title>
    </head>
    <body>
        {% include './navbar.html' %}


        <div class="body-container">
            <!-- <section class="navigation">
                <a href="#">
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                    &nbsp
                    Back to search result
                </a>
            </section> -->
            <br>
            <h3 class="title--h3">Your Account</h3>
            <section class="gallery">
                <div class="listing">
                    <div class="listing-picture">
                        {% for image in property.image_set.all %}
                            <!-- Assuming each Image has a 'url' property, update this to match your Image model -->
                            <img src="{% static 'media/' %}{{ image.image }}" class="slide" alt="">
                        {% endfor %}
                        <!-- <img src="{% static 'media/images/room1.jpg' %}" class="slide" alt="">
                        <img src="{% static 'media/images/london.jpg' %}" class="slide" alt="">
                        <img src="{% static 'media/images/bristol.jpg' %}" class="slide" alt="">
                        <img src="{% static 'media/images/manchester.jpg' %}" class="slide" alt=""> -->

                        <button class="btn btn-prev" onclick="goPrev(this)">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-next" onclick="goNext(this)">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="listing-count">
                        <span class="listing-count-icon">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </span>
                        <span class="listing-count-number">

                        </span>
                    </div>
                </div>
            </section>
            <section class="sidebar">
                <h3>{{property.title}}</h3>
                <span class="price">
                    £{{property.price}} pcm 
                </span>
                <div class="information">
                    <div class="information-group">
                        <span class="category">Property type</span>
                        <span class="type">{{property.propertyType}}</span>
                    </div>
                    <div class="information-group">
                        <span class="category">Bedrooms</span>
                        <span class="type">{{property.bedrooms}}</span>
                    </div>
                    <div class="information-group">
                        <span class="category">Bathrooms</span>
                        <span class="type">{{property.bathrooms}}</span>
                    </div>
                    <div class="information-group">
                        <span class="category">Furnished type</span>
                        <span class="type">{{property.furnishedType}}</span>
                    </div>
                    <div class="information-group">
                        <span class="category">Listing date</span>
                        <span class="type">{{property.listingDate}}</span>
                    </div>
                    <div class="information-group">
                        <span class="category">Pet Friendly</span>
                        <span class="type">{{property.petFriendly}}</span>
                    </div>
                    <div class="information-group">
                        <span class="category">Smokers</span>
                        <span class="type">{{property.smokers}}</span>
                    </div>
                    <div class="information-group">
                        <span class="category">Gardens</span>
                        <span class="type">{{property.gardens}}</span>
                    </div>
                    <div class="information-group">
                        <span class="category">Parking</span>
                        <span class="type">{{property.parking}}</span>
                    </div>
                    <div class="information-group">
                        <span class="category">Let available date</span>
                        <span class="type">{{property.letAvailableDate}}</span>
                    </div>
                    <div class="information-group">
                        <span class="category">Deposit</span>
                        <span class="type">{{property.deposit}}</span>
                    </div>
                </div>
                <div class="buttons">
                    <button class="btn btn--share">Share Others</button>
                    <button action='{{ property.propertyUrl}}' id='btn--contact' class="btn btn--contact">Contact Landlord</button>
                </div>
            </section>
            <section class="description">
                <div class="title">
                    Summary:
                </div>
                <div class="text">
                    {{ property.description}}
                </div>
            </section>
            <section class="map">		
                <div class="" id="map"></div>	
            </section>	
            <section class="popup">	
                <div class="popup-box">	
                    <div class="popup-box--title">Copy this URL and share it!</div>	
                    <div class="popup-box--url">	
                        <span id="urlToCopy">https://www.rightmove.co.uk/properties/137781044#/?channel=RES_LET</span>	
                    </div>	
                    <div class="popup-box--buttons">	
                        <button class="btn btn--copy">COPY URL</button>	
                        <button class="cancel">NO THANKS</button>	
                    </div>	
                    <div class="popup-box--close"><i class="fa fa-times" aria-hidden="true"></i></div>	
                </div>	
            </section>
        </div>
        {% include './footer.html' %}

        <script src="{% static 'javascript/item.js' %}"></script>
        <script src="{% static 'javascript/navbar.js' %}"></script>
        <script type="text/javascript">
            document.getElementById("btn--contact").onclick = function () {
                location.href = '{{property.propertyUrl}}';
            };
        </script>
        <script type="text/javascript">
            var properties = JSON.parse('{{ propertyGS|escapejs }}');
            
            var map = L.map('map').setView([properties.features[0].geometry.coordinates[1], properties.features[0].geometry.coordinates[0]], 12);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
            
            properties.features.forEach(function(feature) {
                var coordinates = feature.geometry.coordinates;
                var pk = feature.properties.pk;
                var marker = L.marker([coordinates[1], coordinates[0]], pk).addTo(map);
                marker.propertyId = pk;
                // Add a click event listener to the marker
                marker.on('click', function () {
                    // Redirect to the property detail page
                    window.location.href = '/property/' + this.propertyId + '/';
                });
            });
        </script>
    </body>
</html>